div.projects-container.container {
    padding-left: 8%;
    padding-top: 8%;
}

div.title-col {
    margin-bottom: 5%;
}

div.project-info-col {
  justify-content: flex-start;
  padding-top: 5%;
}

/* .img-wrapper {
  transition: translateY 0.2s ease-in-out;  
}

.img-wrapper:hover {
  translate: translateY(20px);
} */

