.nav-color {
    background-color: #f3f3f3; 
}

.navbar-brand {
    margin-right: .5rem !important;
}

.padding-nav {
    margin-right: 3%;
    margin-left: 2%;
    margin-top: 1%;
}

.bold-brand-name {
    font-weight: 600;
}

/* for screens smaller than 500px  */
@media only screen and (max-width: 500px) {
    .hidden-small-screen {
        display: none;
    }
  
  }
  
  /* for screens larger than 900px */
  @media only screen and (min-width: 900px) {
    .nav-link-border:last-child {
        border:none;
    }

    .nav-link-border {
        border-right: 1px solid black;
        line-height: 4px;
    }
}
