footer {
  padding-top: 0;
  margin-bottom: 4%;
  margin-top: 6%;
}

div.footer-container {
  padding-top: 2%;
}

.footer-col col {
  text-align: center;
}

div.footer-col {
  margin-left: 5%;
}

.footer-col h3 {
  font-size: 1.2rem;
  font-weight: 900;
}

.footer-col p {
  font-size: .9rem;
}

/* for screens smaller than 500px  */
@media only screen and (max-width: 500px) {
  .footer-hr {
    width: 100% !important;
  }

  div.footer-container {
    padding-top: 7%;
}

}


